doctype html 
html
	head
		title Confirmação de Pedido

		link(rel="stylesheet", href="../../sass/basic.scss")
		link(rel="stylesheet", href="../../sass/orderConfirmation/styles.scss")

	body
		table.table(cellpadding="0", cellspacing="0")
			tbody.row
				tr.row 
					td
						a.centered(href='/')
							img.header-image(src='images/logo-polaris.png')
				tr.centered
					td.centered
						h2 Olá, Caroline Andrade! 
						h3 Seu pedido foi registrado com sucesso!
				tr.centered
					td.text
						p Por favor, verifique se os produtos, quantidades e formas de envio estão corretos. Se notar algo de errado, entre em contato imediatamente para que possamos solucionar antes do envio.
						p Este é um e-mail com a cópia de seu pedido. Enviaremos em breve a confirmação de pagamento em outro e-mail 
				tr.centered 
					td 
						h3 Detalhes do Pedido